# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Herramientas de test/lint
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/
*.swp

# Sistema
.DS_Store